[submodule "parallaxUI"]
	path = parallaxUI
	url = https://github.com/onlytruejames/parallaxUI
[submodule "parallaxCompiler"]
	path = parallaxCompiler
	url = https://github.com/onlytruejames/parallaxCompiler
