<!DOCTYPE html>
<html lang="en">
<head>
<title>Parallax UI</title>
<style type="text/css" media="screen">
    #editor{ 
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
    }
</style>
<style>
    html{
        height: 100vh;
    }
    body{
        height: 100%;
        margin: 0px;
    }
</style>
</head>
<body>

{% if data %}
    <div id="editor">{{data}}</div>
{% endif %}

{% if not data %}
    <div id="editor">[
        
]
    </div>
{% endif %}

<iframe src="/screen" frameborder="0" id="iframe" height="75%" width="50%"></iframe>
<div id="easyInput">
    <a href="/screen" download><button>Download page</button></a>
</div>

<script src="/static/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    function b64EncodeUnicode(str) {
        // thanks to brandonscript on stackoverflow
        return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
            function toSolidBytes(match, p1) {
                return String.fromCharCode('0x' + p1);
        }));
    }
    function placeButtons(keywords, specials){
        console.log(keywords);
        console.log(specials);
        keywords.forEach(keyword => {
            button = document.createElement("button");
            key = Object.keys(keyword);
            button.setAttribute("onclick", `addKeyword("${key}", "${keyword[key]}")`);
            button.innerHTML = key;
            document.getElementById("easyInput").appendChild(button);
        });
        /*specials.forEach(special => {
            button = document.createElement("button");
            button.setAttribute("onclick", `addKeyword("${special}", "special")`);
            document.getElementById("easyInput").appendChild(button);
        }); For some reason this doesn't work so it's just going to sit here until I remember it exists in (possibly) years*/
    }

    function addKeyword(key, type){
        if (type === "dict"){
            toAdd = `{"${key}": {}}`;
        }else if (type === "str"){
            toAdd = `{"${key}": ""}`;
        }else if (type === "list"){
            toAdd = `{"${key}": []}`
        }
        editor.insert(toAdd);
    }

    xhr = new XMLHttpRequest();
    xhr.open("GET", "/getKeywords");
    xhr.addEventListener('load', event => {
        var keywords = JSON.parse(xhr.responseText);
        xhr = new XMLHttpRequest();
        xhr.open("GET", "/getSpecials");
        xhr.addEventListener('load', event => {
            var specials = JSON.parse(xhr.responseText);
            placeButtons(keywords, specials);
        });
        xhr.send();
    });
    xhr.send();
    
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var iframe = document.getElementById("iframe");
    
    var prev = "";

    function updateIframe(){
        data = editor.getValue();
        if (data !== prev){
            prev = data;
            actualData = b64EncodeUnicode(data);
            document.cookie = `data=${actualData}; path=/;`;
            xhr = new XMLHttpRequest();
            xhr.open("GET", `/screen`);
            xhr.addEventListener('load', event => {
                if (xhr.responseText !== "error"){
                    iframe.contentWindow.location.reload();
                }
            })
            xhr.send();
        }
    }

    setInterval(updateIframe, 1000);
</script>
</body>
</html>